<template>

<div class="container">
    <form class="ia_form_hm ia_form_global">  
        <div class="row">
            <div class="col-3"></div>
            <div class="col-5">
                <label for="uname"><b>Correo Electrónico</b></label>
                <input type="text" placeholder="Ingresa Correo Electrónico" name="uname" required v-model="email">

                <label for="psw"><b>Contraseña</b></label>
                <input type="password" placeholder="Ingresa Contraseña" name="psw" required v-model="password">  
            </div>
                                  
        </div>
        <br>
        
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                <button @click="ingresar" type="submit" class="sm_i" v-on:click.prevent><i >Ingresar</i></button>                
            </div>            
        </div>
    </form>
</div>



</template>
<script>
import axios from 'axios'
export default {
    data(){
        return {
            show1: false,
            email: '',
            password: ''
        }
    },
    methods :{
        ingresar(){
            // console.log("entro");
            // console.log("email", this.email);
            // console.log("password", this.password);
            
            this.error=null;
            axios.post('api/Usuarios/Login', {email: this.email, Password: this.password})
            .then(respuesta => {
                try{
                    // console.log("trata guardar token");
                    this.$store.dispatch("guardarToken", respuesta.data);

                    //Se crea usuario y se guarda en localStorage
                    localStorage.setItem('usuario',this.$store.state.usuario.nombre);
                    
                }
                catch(ex)
                {
                    // console.log("no pudo guardar token");
                    console.log(ex);
                    alert(ex);
                }
                // console.log("regresa respuesta", respuesta.data);
                return respuesta.data;
            })
            .then(data => {           
                // console.log("correcto");
                this.$router.push({ name: 'inicio' });
                location.reload();
            })
            .catch(err => {
                // console.log("incorrecto");
                //console.log(err.response);
                console.log(err);
                if (err.response.status==400){
                    this.error="No es un email válido";
                    alert("No existe el usuario o sus datos son incorrectos");
                } else if (err.response.status==404){
                    this.error="No existe el usuario o sus datos son incorrectos";
                    alert("No existe el usuario o sus datos son incorrectos");
                }else{
                    this.error="Ocurrió un error";
                    alert("Ocurrió un error");
                }
            })
        }
    }    
}
</script>