<!--
  ////////////////////////////////////////////////////////////////////////////////
  //
  // ⭐ INICIA EL CÓDIGO DEL COMPONENTE DE VUE
  //
  ////////////////////////////////////////////////////////////////////////////////
-->
<script>
import SocialSharing from "vue-social-sharing";

  export default {
    methods : {
      translate(text){
        return this.$store.getters.translate(text)
      }
    },


    /*
     * 👾 C O M P U T E D
     * ----------------------------------------------------------------------
     */
    computed : {
      location(){
        return window.location.href;
      }
    },
    /*
     * 👾 C O M P O N E N T S
     * ----------------------------------------------------------------------
     */
    components : {
      SocialSharing

    },
  }
</script>

<!--
  ////////////////////////////////////////////////////////////////////////////////
  //
  // ⭐ INICIA EL TEMPLATE DEL COMPONENTE
  //
  ////////////////////////////////////////////////////////////////////////////////
-->
<template>
  <div>
    <div class="ai_social_sharing">
    <social-sharing :url="location"
                    title="Acerca del proyecto de Infraestructura Abierta"
                    description=""
                    quote=""
                    hashtags="InfraestructuraAbierta"
                    inline-template>
       <!-- twitter-user="vuejs"-->
       <div>

         <network network="facebook">
           <span class="sm fb">Facebook</span>
         </network>
        <network network="twitter">
          <span class="sm tw">Twitter</span>
          </network>
        <network network="telegram">
          <span class="sm tl">Telegram</span>
        </network>
      </div>
    </social-sharing>
    </div>
    <!--Breadcrumb-->
    <ul class="breadcrumb">
      <li><router-link :to="`/`">  Inicio</router-link></li>
      <li>Politica Publicación de Datos</li>
    </ul>
    <section class="ia_hero mb-4">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="ia_title_hm">
              Política de Publicación de Datos sobre Infraestructura Abierta 
              de la Secretaría de Infraestructura de N.L.
            </h1>
          </div>
        </div>
      </div>
    </section>
    <div class="container pt-4 mt-4">
        <div class="row">
            <div class="col-12">
                <h3><b>Objetivo de la publicación</b></h3>
                <br>
                <p>Mejorar la oferta, calidad y disponibilidad de la información relacionada con los procedimientos de contratación de infraestructura pública del Estado de Nuevo León, con el fin de promover su transformación en conocimiento público útil que facilite la toma de decisiones, la libre competencia y la integridad pública a través de la contraloría ciudadana y la fiscalización inteligente.</p>
            </div>
        </div>
    </div>
    <!--
    <div class="container pt-4 mt-4">
        <div class="row">
            <div class="col-12">
                <h3><b>Objetivo de la publicación</b></h3>
                <br>
                <p>Mejorar la oferta, calidad y disponibilidad de la información relacionada con los procedimientos de contratación de infraestructura pública del Estado de Nuevo León, con el fin de promover su transformación en conocimiento público útil que facilite la toma de decisiones, la libre competencia y la integridad pública a través de la contraloría ciudadana y la fiscalización inteligente.</p>
            </div>
        </div>
        <div class="col mb-4 pb-4">
            <div class="ia_separator bottom"></div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3><b>Casos de uso que se buscan fomentar</b></h3>
                <br>
                <ol class="number">
                    <li>Establecer un estándar de publicación de información de los proyectos de infraestructura pública en el país con sus contratos, documentos e información asociada.</li>
                    <li>Facilitar esquemas de interoperabilidad entre sistemas para publicar la información estandarizada y facilitar su uso.</li>
                    <li>Habilitar mecanismos de participación ciudadana en el monitoreo, control y seguimiento de los procedimientos de contratación.</li>
                    <li>Facilitar el análisis de datos por parte del sector privado para mejorar su inteligencia de negocios.</li>
                    <li>Facilitar el análisis de datos por parte del sector público para mejorar la efectividad y eficiencia de las compras públicas y generar ahorros.</li>
                </ol>
            </div>
        </div>

        <div class="col mb-4 pb-4">
            <div class="ia_separator bottom"></div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <h3><b>Publicación de datos</b></h3>
                <br>
                <p>El 31 de marzo de 2020 la Secretaría de Infraestructura del Estado de Nuevo León (SINL) publicó un primer conjunto de datos, conforme a la versión XXX del OC4IDS, relativos a 9 proyectos de infraestructura y sus procedimientos de contratación y convenios de colaboración asociados. Asimismo, se espera tener actualizaciones en las que se tendrá un proyecto adicional en el mes de abril y para marzo 2021 se tiene el compromiso de contar con la totalidad de los proyectos de infraestructura de la SINL.</p>
            </div>
        </div>

        <div class="col mb-4 pb-4">
            <div class="ia_separator bottom"></div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <h3><b>Consulta de datos</b></h3>
                <br>
                <p>Los datos de los proyectos de infraestructura de la SINL se publican en el sitio de Internet: XXX</p>
                <p>Los datos de los procedimientos de contratación asociados a los proyectos de infraestructura de la SINL se publican en el sitio de Internet: XXX</p>
            </div>
        </div>
        
        <div class="col mb-4 pb-4">
            <div class="ia_separator bottom"></div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <h3><b>Actualización de datos</b></h3>
                <br>
                <p>Las actualizaciones de datos se realizan de manera manual, mediante un sistema de captura que contempla las variables aplicables al compromiso de transparencia de información realizado por la SINL en el ejercicio de Gobierno abierto denominado Mesa Multi Actor de Obra Pública Nuevo León (MMAOP-NL).</p>
                <p>Posteriormente, se pretende fusionar el sistema electrónico de gestión documental (SIASI) de la SINL con la herramienta de infraestructura abierta de Nuevo León con el fin de organizar y estructurar la generación, publicación y conservación de datos en el tiempo.</p>
                <p>Tabla 1. Registro de actualización</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fecha de actualización</th> 
                            <th>Descripción</th> 
                            <th>Periodo que abarca</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>31 de marzo de 2020</td> 
                            <td>Primera publicación de datos de la SINL de 9 proyectos y sus contratos</td> 
                            <td>9 proyectos (periodo variable)</td>                            
                        </tr>
                        <tr>
                            <td>Segunda semana de abril</td> 
                            <td>Actualización de datos.</td> 
                            <td>Por definir</td>                            
                        </tr>
                    </tbody>
                </table>
                <span>— Actualización 31 de marzo de 2020</span>
            </div>
        </div>
        
        <div class="col mb-4 pb-4">
            <div class="ia_separator bottom"></div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <h3><b>Responsables de la publicación de datos</b></h3>
                <br>
                <p>En la SINL, las responsables de la captura de información dentro de la herramienta de contrataciones abiertas son las Direcciones XXX y XXX.</p>
            </div>
        </div>
        
        <div class="col mb-4 pb-4">
            <div class="ia_separator bottom"></div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <h3><b>Control de los datos</b></h3>
                <br>
                <p>La SINL hace un esfuerzo por mantener congruencia e integridad en los datos que publica cada una de las unidades de gestión. Por ello, la Dirección XX es la encargada de realizar periódicamente un conjunto de valoraciones sobre los datos capturados por las áreas de la Secretaría.</p>
                <p>Para realizar estas valoraciones, se revisa con validadores de OCP. Como resultado, se obtiene una valoración que informa sobre una correcta estructura de publicación.</p>
            </div>
        </div>
        
        <div class="col mb-4 pb-4">
            <div class="ia_separator bottom"></div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <h3><b>Datos de contacto</b></h3>
                <br>
                <p>Sobre la publicación de los datos:</p>
                <p>si@nuevoleon.gob.mx</p>
            </div>
        </div>
        
        <div class="col mb-4 pb-4">
            <div class="ia_separator bottom"></div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <h3><b>Licencia de publicación</b></h3>
                <br>
                <p>Estos datos pueden ser utilizados, reutilizados y redistribuidos por cualquier usuario y para cualquier fin, de acuerdo con el “Decreto por el que se establece la regulación en materia de Datos Abiertos”, publicado el 20 de febrero de 2015 en el Diario Oficial de la Federación:</p>
                <p>Artículo Primero.- [...] los datos de carácter público, generados por las dependencias y entidades de la Administración Pública Federal y por las empresas productivas del Estado, se pondrán a disposición de la población como datos abiertos, con el propósito de facilitar su acceso, uso, reutilización y redistribución para cualquier fin, conforme a los ordenamientos jurídicos aplicables. [...]</p>
                <p>Consulta los <b><a href="https://datos.gob.mx/libreusomx" target="_blank">Términos de Libre Uso MX.</a></b></p>
            </div>
        </div>
        
        <div class="col mb-4 pb-4">
            <div class="ia_separator bottom"></div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <h3><b>Información de referencia</b></h3>
                <br>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <h4><b>Actores involucrados</b></h4>
                <br>
                <p>Para identificar fielmente a todos los actores involucrados en el procedimiento de contratación se utiliza la lista de códigos “Registro Federal de Contribuyentes (RFC)”, tanto para personas físicas como morales.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <h4><b>Items</b></h4>
                <br>
                <p>Para identificar los ítems contratados según el EDCA, se utiliza la lista de códigos “Clasificador” que cuenta con ocho dígitos y hacen referencia al bien, servicio u obra pública contratado.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <h3><b>Extensiones MX</b></h3>
                <br>
                <p>La inclusión de las extensiones MX se ha dado de una forma paulatina de acuerdo con las necesidades de publicación del Instituto. Sin embargo, se espera que se puedan incorporar todas las extensiones en la interconexión del sistema GD-Mx y la herramienta de Contrataciones Abiertas con el objetivo de facilitar la publicación de las obligaciones de transparencia del INAI en la Plataforma Nacional de Transparencia.</p>
                <p>Actualmente, la Secretaria publica las siguientes extensiones:</p>
                <ul>
                    <li>
                        Estatus de la ejecución
                    </li>
                </ul>
                <p>El diseño de estas extensiones puede ser consultado en el <b><a href="https://github.com/INAImexico" target="_blank">repositorio del INAI.</a></b></p>
            </div>
        </div>
        
        <div class="col mb-4 pb-4">
            <div class="ia_separator bottom"></div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <h3><b>Marco normativo de referencia</b></h3>
                <br>
                <ul>
                    <li>
                        Constitución Política de los Estados Unidos Mexicanos.
                    </li>
                    <li>
                        Ley de Obras Públicas y Servicios Relacionados con las Mismas.
                    </li>
                    <li>
                        Ley General del Sistema Nacional Anticorrupción.
                    </li>
                    <li>
                        Ley General de Transparencia Y Acceso a la Información Pública.
                    </li>
                    <li>
                        Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados.
                    </li>
                    <li>
                        Ley de Coordinación Fiscal.
                    </li>
                    <li>
                        Decreto por el que se establece la regulación en materia de Datos Abiertos.
                    </li>
                </ul>
            </div>
        </div>
        
        
        <div class="col mb-4 pb-4">
            <div class="ia_separator bottom"></div>
        </div>

        <div class="col mb-4 pb-4">
            <div class="ia_separator bottom"></div>
        </div>

        <div class="row mt-4 pt-4">
            <div class="col">
                <p class="text-center"><router-link :to="'glosario'" class="ia_btn">Glosario</router-link></p>
            </div>
            <div class="col">
                <p class="text-center"><a href="http://si.nl.gob.mx/acceso/DatosAbiertos/JSONsInfraestructuraAbierta.rar" target="_blank" class="ia_btn">Descarga los <b>datos</b></a></p>
            </div>
            <div class="col">
                <p class="text-center"><a href="https://github.com/INAImexico/infraestructura-abierta" target="_blank" class="ia_btn">Descarga el <b>código</b> de la Plataforma</a></p>
            </div>
        </div>
    </div>
    -->
  </div>
</template>
