<!--
  ////////////////////////////////////////////////////////////////////////////////
  //
  // ⭐ INICIA EL CÓDIGO DEL COMPONENTE DE VUE
  //
  ////////////////////////////////////////////////////////////////////////////////
-->
<script>
  import Breadcrumb from "../components/Breadcrumb.vue";
  import ProgramItem from "../components/ProgramItem.vue";
  import navigation from "../mixins/navigation";
  import VerGlosario from "../components/VerGlosario.vue";
  import SocialSharing from "vue-social-sharing";
  ///////////////////  svg
  import ContratacionesSvg from "../svg/contrataciones.vue";
  import ProyectoSvg from "../svg/proyecto-svg.vue";
  import CopiarSvg from "../svg/icons/copiar-svg.vue";
  import JsonSvg from "../svg/icons/json-svg.vue";
  
  //Llamdas a WS
  import axios from 'axios'

  export default{
    /*
     * 👾 M I X I N S
     * ----------------------------------------------------------------------
     */
    mixins : [navigation],

    /*
     * 👾 D A T A
     * ----------------------------------------------------------------------
     */
    data(){
      return {
        // el tab desplegado
        current    : "proyectos",
        ProjectsList: [],
        ContractsList: [],
        show1: false,
        email: '',
        password: ''
      }
    },

    /*
     * 👾 M E T H O D S
     * ----------------------------------------------------------------------
     */
    methods : {
    	getProjects(){
        let me = this;
        axios.get('/api/edcapi/ListarProjectPackages').then(function (response) {
            console.log("Proyectos:");
            console.log(response.data);
            me.ProjectsList = response.data;
            return true;
        }).catch(function (error) {
            console.log(error);
            return false;
        });
    	},
    	getContracts(){
        let me = this;
        axios.get('/api/ocds/ListarRecordPackages').then(function (response) {
            console.log("Contratos:");
            console.log(response.data);
            me.ContractsList = response.data;
            return true;
        }).catch(function (error) {
            console.log(error);
            return false;
        });
      },
      login(){
        this.error=null;
            axios.post('api/Usuarios/Login', {email: this.email, Password: this.password})
            .then(respuesta => {
                try{
                    this.$store.dispatch("guardarToken", respuesta.data);
                    this.getProjects();
                    this.getContracts();
                    alert("Acceso correcto y datos actualizados");
                }
                catch(ex)
                {
                    console.log(ex);
                    alert(ex);
                }
                return respuesta.data;
            })
            .then(data => {           
                
                this.$router.push({ name: 'Inicio' });
            })
            .catch(err => {
                //console.log(err.response);
                console.log(err);
                if (err.response.status==400){
                    this.error="No es un email válido";
                    alert("No existe el usuario o sus datos son incorrectos");
                } else if (err.response.status==404){
                    this.error="No existe el usuario o sus datos son incorrectos";
                    alert("No existe el usuario o sus datos son incorrectos");
                }else{
                    this.error="Ocurrió un error";
                    alert("Ocurrió un error");
                }
            })

      }
    },    

    created(){
    },

    mounted(){
    },

    updated(){
    },


    /*
     * 👾 C O M P U T E D
     * ----------------------------------------------------------------------
     */
    computed : {
    },

    /*
     * 👾 C O M P O N E N T S
     * ----------------------------------------------------------------------
     */
    components : {
      Breadcrumb,
      VerGlosario,
      SocialSharing,
      /// svg
      ContratacionesSvg,
      ProyectoSvg,
      CopiarSvg,
      JsonSvg
    }
  }

</script>

<!--
  ////////////////////////////////////////////////////////////////////////////////
  //
  // ⭐ INICIA EL TEMPLATE DEL COMPONENTE
  //
  ////////////////////////////////////////////////////////////////////////////////
  -->
<template>
  <div>
    <div class="ai_social_sharing">
    <social-sharing :url="location"
                    title="Programas de Obra Pública"
                    description=""
                    quote=""
                    hashtags="InfraestructuraAbierta"
                    inline-template>
       <!-- twitter-user="vuejs"-->
       <div>

         <network network="facebook">
           <span class="sm fb">Facebook</span>
         </network>
        <network network="twitter">
          <span class="sm tw">Twitter</span>
          </network>
        <network network="telegram">
          <span class="sm tl">Telegram</span>
        </network>
      </div>
    </social-sharing>
    </div>
    <div>
      <ul class="breadcrumb">
        <li>
          <router-link :to="`/`">Inicio</router-link>
        </li>
        <li>Publicaciones</li>
      </ul>
    </div>
    <section class="ia_hero">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <h1 class="ia_title_hm mb-4 pb-2">Ambiente para Pruebas de Calidad</h1>
            <p>...</p>
          </div>
        </div>
      </div>
    </section>

    <!-- ❇️ nav -->
    <section class="ia_hero nav">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a href="#" :class="['ia_btn_hero_nav', current == 'acceso' ? 'current' : '']"
                        v-on:click.prevent="current= 'acceso'">
              Acceso
            </a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <!--- Proyectos -->
      <div class="container" v-if="current == 'acceso'">
        <div class="row">
          <div class="col">
            <h1 class="ia_title">Formulario de Acceso</h1>
          </div>
        </div>
        <br>
        <br>
        <div class="row mt-4 pt-4">
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <v-text-field v-model="email" autofocus color="accent" label="Correo Electrónico" required>
            </v-text-field>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <v-text-field :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :type="show1 ? 'text' : 'password'" counter @click:append="show1 = !show1" v-model="password"  color="accent" label="Contraseña" required>
            </v-text-field>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <v-btn @click="ingresar" @keyup.enter="login" color="primary">Ingresar</v-btn>
          </div>
        </div>
        <br>
        <br>

        <div class="row">
          <div class="col">
            <table class="table">
              <thead>
                <tr>
                  <th>Clave</th>
                  <th>Título</th>
                  <th>Fecha</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(project, i) in ProjectsList" :key="i + 'project'">
                  <td><h5>{{project.release}}</h5></td>
                  <td>{{project.titulo}}</td>
                  <td>{{project.fechaCreacion}}</td>
                  <td>
                    <a target="_blank" :href="project.urlWebReleasePackage">
                      <div class="ia_svg w_30" style="cursor:pointer;">
                        <json-svg />
                      </div>                      
                    </a>
                  </td>                  
                  <td>
                    <div class="ia_svg w_30" style="cursor:pointer;" @click="copiarUrl(project.urlWebReleasePackage)">
                      <copiar-svg />
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>




    <!---Contratos-->
    <div class="container" v-if="current=='contratos'">
      <div class="row">
        <div class="col mb-4">
            <h1 class="ia_title mb-2">Contratos (OCDS)</h1>
        </div>
      </div>
        <br>
        <br>
        <div class="row mt-4 pt-4">
          <!-- <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <p class="text-center"><router-link :to="'acerca-del-proyecto'" class="ia_btn">Conoce más sobre <br> el proyecto</router-link></p>
          </div> -->
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <p class="text-center"><a href="http://si.nl.gob.mx/siasi_ws/api/ocds/DescargarRecordPackage" target="_blank" class="ia_btn">Descarga masiva <b>(Record Package)</b></a></p>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col">
            <table class="table">
              <thead>
                <tr>
                  <th>Clave</th>
                  <th>Título</th>
                  <th>Fecha</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(contract, i) in ContractsList" :key="i + 'contract'">
                  <td><h5>{{contract.numeroConcurso}}</h5></td>
                  <td>{{contract.tituloProyecto}}</td>
                  <td>{{contract.fechaCreacion}}</td>                  
                  <td>
                    <a target="_blank" :href="contract.url">
                      <div class="ia_svg w_30" style="cursor:pointer;">
                        <json-svg />
                      </div>                      
                    </a>
                  </td>                  
                  <td>
                    <div class="ia_svg w_30" style="cursor:pointer;" @click="copiarUrl(contract.url)">
                      <copiar-svg />
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
    </div>



    </section>

    <!-- glosrio-->
    <ver-glosario />
  </div>
</template>
