<!--
  ////////////////////////////////////////////////////////////////////////////////
  //
  // ⭐ INICIA EL CÓDIGO DEL COMPONENTE DE VUE
  //
  ////////////////////////////////////////////////////////////////////////////////
-->

<template>
  <div>
    <div class="ai_social_sharing">
    <social-sharing 
                    title="Programas de Obra Pública"
                    description=""
                    quote=""
                    hashtags="InfraestructuraAbierta"
                    inline-template>
       <!-- twitter-user="vuejs"-->
       <div>

         <network network="facebook">
           <span class="sm fb">Facebook</span>
         </network>
        <network network="twitter">
          <span class="sm tw">Twitter</span>
          </network>
        <network network="telegram">
          <span class="sm tl">Telegram</span>
        </network>
      </div>
    </social-sharing>
    </div>
    <div>
      <ul class="breadcrumb">
        <li>
          <router-link :to="`/`">Inicio</router-link>
        </li>
        <li>Reporte General</li>
      </ul>
    </div>
    <section class="ia_hero">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <h1 class="ia_title_hm mb-4 pb-2">Reporte General</h1>
            <p>Reporte de programas, proyectos y contratos.</p>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-2 text-center">
            <div class="ia_svg white w_30">
            <proyecto-svg />
            </div>
            <h2 class="mb-1">{{this.ProgramsList.length}}</h2>
            <!-- <h2 class="mb-1">{{format(listItems.length)}}</h2> -->
            <p>Programas</p>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-2 text-center">
            <div class="ia_svg white w_30">
            <proyecto-svg />
            </div>
            <h2 class="mb-1">{{this.ProjectsList.length}}</h2>
            <!-- <h2 class="mb-1">{{format(listItems.length)}}</h2> -->
            <p>Proyectos</p>
          </div>
          <div class="col-4 col-sm-4 col-md-4  col-lg-2 text-center">
            <div class="ia_svg white w_30">
            <contrataciones-svg />
            </div>
            <h2 class="mb-1">{{ContractsList.length}}</h2>
            <p>Contratos</p>
          </div>
        </div>
      </div>
    </section>

    <!-- ❇️ nav -->
    <section class="ia_hero nav">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a href="#" :class="['ia_btn_hero_nav', current == 'proyectos' ? 'current' : '']"
                        v-on:click.prevent="current= 'proyectos'">
              Proyectos
            </a>
            <!-- <a href="#" :class="['ia_btn_hero_nav', current == 'contratos' ? 'current' : '']"
                        v-on:click.prevent="current= 'contratos'">
              Contratos
            </a> -->
          </div>
        </div>
      </div>
    </section>

    <section>
      <!--- Proyectos -->
      <div class="container" v-if="current == 'proyectos'">
        <div class="row">
          <div class="col">
            <h1 class="ia_title">Programas</h1>
          </div>
        </div>
        <br>
        <br>

        <div class="row">
          <div style="overflow-x: auto;">
            <!-- {{GenerarReporte()}} -->
            <table class="table">
                <thead>
                <tr>
                  
                  <th>No</th>
                  <th>Program Id</th>
                  <th>Program Name</th>
                  <th>Program Amount Amount (Programado)</th>
                  <th>Program Amount Executed (Ejecutado)</th>
                  <th>Proyects IDS</th>
                  <th>Proyects Amounts Amounts (Programado)</th>
                  <th>Proyects Budget BB BL Measures (Ejecutado)</th>
                  <th>Contratos IDS</th>
                  <th>Contratos Awards Value (Programado)</th>
                  <th>Contratos Awards Value (Adjudicado)</th>
                  <th>Contratos Contrats Value (Contratado con convenios)</th>
                  <th>Contratos Contrats Value (Ejecutado)</th>
                  
                </tr>
              </thead>
              <tbody>
                  <tr v-for="(item, i) in this.ListadoReporte" :key="i">
                    <td><h5>{{i + 1}}</h5></td>
                    <td>{{item.ProgramId}}</td>
                    <td>{{item.ProgramName}}</td>
                    <td>{{'$' + item.ProgramProgramado.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}</td>
                    <td>{{'$' +item.ProgramEjecutado.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}</td>
                    <td>{{item.ProyectIds}}</td>
                    <!-- Proyectos Programado -->
                    <td>{{item.ProyectProgramado.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}</td>
                    <!-- Proyectos Ejecutado -->
                    <td>{{item.ProyectEjecutado.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}</td>

                    <td>{{item.ContractIds}}</td>
                    <!-- Contratos Programado -->
                     <td>{{item.ContractProgramado}}</td><!-- Planning -->
                    <!-- Contratos Adjudicado -->
                     <td>{{item.ContractAdjudicado}}</td> <!-- Awards- Value -Amount -->
                    <!-- Contratos Contratado con convenios -->
                     <td>{{item.ContractConvenios}}</td> <!-- Contracts - value -amount -->
                    <!-- Contratos Ejecutados -->
                    <td>{{item.ContractEjecutado}}</td>  <!--Contract - implementation - value -->
                    
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>








    </section>

    <!-- glosrio-->
    <ver-glosario />
  </div>
</template>
<script>
  import Breadcrumb from "../components/Breadcrumb.vue";
  import ProgramItem from "../components/ProgramItem.vue";
  import navigation from "../mixins/navigation";
  import VerGlosario from "../components/VerGlosario.vue";
  import SocialSharing from "vue-social-sharing";
  ///////////////////  svg
  import ContratacionesSvg from "../svg/contrataciones.vue";
  import ProyectoSvg from "../svg/proyecto-svg.vue";
  import CopiarSvg from "../svg/icons/copiar-svg.vue";
  import JsonSvg from "../svg/icons/json-svg.vue";
  
  //Llamdas a WS
  import axios from 'axios'

  export default{
    /*
     * 👾 M I X I N S
     * ----------------------------------------------------------------------
     */
    mixins : [navigation],

    /*
     * 👾 D A T A
     * ----------------------------------------------------------------------
     */
    data(){
      return {
        // el tab desplegado
        current    : "proyectos",
        ProgramsList: [],
        ProgramExtended: [],
        ContractsList: [],
        ListadoReporte:[],
        ProyectoEjecutado: '',
        prueba2 : {
          BBId:'',
           valor:0
           },
        defaultItem : {
          Usuario: '',
          Servidor: ''
        }
      }
    },

    /*
     * 👾 M E T H O D S
     * ----------------------------------------------------------------------
     */
    methods : {      
        GenerarReporte(){
            let renglon = {
                ProgramId: '',
                ProgramName: '',
                ProgramProgramado: '',//Program Amount Amount (Programado)
                ProgramEjecutado: '',//Program Amount Executed (Ejecutado)
                ProyectIds: '',
                ProyectProgramado: '',//Proyects Amounts Amounts
                ProyectEjecutado: '',//Proyects Budget BB BL Measures
                ContractIds: '',
                ContractProgramado: '',//Contratos Awards Value
                ContractAdjudicado: '',//Contratos Awards- Value -Amount
                ContractConvenios: '',//Contratos Contrats Value
                ContractEjecutado: '',//Contratos Transactions 
                
                };

        

        for(let i = 0; i < this.ProgramsList.length; i++)
        {
            let Programas = this.ProgramsList[i];
            
            let Proyectos = this.ProjectsList.filter(x => x.budget.budgetBreakdown.some(y => y.description == Programas.name));
            for(let x = 0; x < Proyectos.length; x++)
            {
                
                let Contratos = [];
                Contratos.push(this.$store.getters.ProjectContractReleases(Proyectos[x].id));
                // console.log(Contratos, 'Contratos');
                for(let y =0; y < Contratos.flat().length; y++)
                {
                   

                    renglon.ProgramId = Programas.id;
                    renglon.ProgramName = Programas.name;
                    renglon.ProgramProgramado = Programas.amounts.amount;
                    renglon.ProgramEjecutado = Programas.amounts.executed;
                    renglon.ProyectIds = Proyectos[x].id;
                    renglon.ProyectProgramado = Proyectos[x].budget.amount.amount;

                    let valor = 0;

                    for(let z = 0; z < Proyectos[x].budget.budgetBreakdown.length; z++)
                    {
                      for(let p = 0; p < Proyectos[x].budget.budgetBreakdown[z].budgetLines.length; p++)
                      {
                        for(let j = 0; j < Proyectos[x].budget.budgetBreakdown[z].budgetLines[p].measures.length; j++)
                        {
                          if(Proyectos[x].budget.budgetBreakdown[z].budgetLines[p].measures[j].id == 'executed')
                          {
                            valor = valor + Proyectos[x].budget.budgetBreakdown[z].budgetLines[p].measures[j].value.amount;
                          }
                        }
                      }
                    }
                    renglon.ProyectEjecutado = valor;
                    renglon.ContractIds =  Contratos.flat()[y].ocid;

                    
                    // Contract Programado
                    if (Contratos.flat()[y].planning != undefined)
                    {
                      renglon.ContractProgramado =  Contratos.flat()[y].planning.budget.amount.amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    }
                    else
                    {
                      renglon.ContractProgramado = 'No disponible';
                    }

                    //Contract Adjudicado
                    if (Contratos.flat()[y].awards != undefined)
                    {
                      renglon.ContractAdjudicado =  Contratos.flat()[y].awards[0].value.amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    }
                    else
                    {
                      renglon.ContractAdjudicado = 'No disponible';
                    }

                    //Contract Con Convenios
                    if (Contratos.flat()[y].contracts != undefined)
                    {
                      renglon.ContractConvenios =  Contratos.flat()[y].contracts[0].value.amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    }
                    else
                    {
                      renglon.ContractConvenios = 'No disponible';
                    }

                    //Contract Ejecutado
                    let transValor = 0;
                    if (Contratos.flat()[y].contracts != undefined)
                    {
                      for(let trans = 0; trans < Contratos.flat()[y].contracts[0].implementation.transactions.length; trans++)
                      {
                        transValor = transValor + Contratos.flat()[y].contracts[0].implementation.transactions[trans].value.amount;
                      }
                      
                    }
                    else
                    {
                      renglon.ContractConvenios = 'No disponible';
                    }
                    if (transValor != 'No disponible')
                    {
                      renglon.ContractEjecutado = transValor.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    }
                    else
                    {
                      renglon.ContractEjecutado = transValor;
                    }
                    

                    

                    this.ListadoReporte.push(renglon);

                    renglon = {
                        ProgramId: '',
                        ProgramName: '',
                        ProgramProgramado: '',//Program Amount Amount (Programado)
                        ProgramEjecutado: '',//Program Amount Executed (Ejecutado)
                        ProyectIds: '',
                        ProyectProgramado: '',//Proyects Amounts Amounts
                        ProyectEjecutado: '',//Proyects Budget BB BL Measures
                        ContractIds: '',
                        ContractProgramado: '',//Contratos Awards Value
                        ContractAdjudicado: '',//Contratos Awards- Value -Amount
                        ContractConvenios: '',//Contratos Contrats Value
                        ContractEjecutado: ''//Contratos Transactions 
                    };
                    // console.log(this.ListadoReporte, 'ListadoReporte');
                    
                    //Asignar valores a objeto
                }
            }
        }

        return this.ListadoReporte;


            

        },
        

      ContratosByProjectoByPrograma(programa)
      {


        // let dani = this.$store.getters.ProjectContractReleases('oc4ids-gx3fo2-000308');
        // console.log(dani, 'dani');

      let proyectoid = this.ProjectsList.filter(x => x.budget.budgetBreakdown
                          .some(y => y.description == programa))
                                    
      let prueba = [];
      for(let i = 0; i < proyectoid.length ; i++)
      {
        prueba.push(this.$store.getters.ProjectContractReleases(proyectoid[i].id));
      }

      // console.log(prueba, 'prueba');

        return prueba.flat();

      },

      ProyectosBudgetBBEjecutado(programa){
        
        

        let Proyecto = this.ProjectsList.filter(x => x.budget.budgetBreakdown.some(y => y.description == programa));
        console.log(Proyecto.map(x => x.budget.budgetBreakdown.length), 'proyecto.length');
        console.log(Proyecto, 'proyecto');

        let valor = 0;
        
        //Esto saca la suma de todo lo ejecutado del BB
        for(let x = 0; x < Proyecto.length; x++)
        {
          // if(Proyecto[x].includes('budget'))
          // {
            for (let i = 0; i < Proyecto[x].budget.budgetBreakdown.length; i++)
            {
              for (let a = 0; a < Proyecto[x].budget.budgetBreakdown[i].budgetLines.length; a++)
              {
                for(let n = 0; n < Proyecto[x].budget.budgetBreakdown[i].budgetLines[a].measures.length; n++)
                {
                  if(Proyecto[x].budget.budgetBreakdown[i].budgetLines[a].measures[n].id == 'executed')
                  {
                    valor = valor + Proyecto[x].budget.budgetBreakdown[i].budgetLines[a].measures[n].value.amount;
                    // valorArreglo.push(Proyecto[x].budget.budgetBreakdown[i].budgetLines[a].measures[n].value.amount);
                  }
                }
                
              }
            }
          // }
        }
        //Esto saca la suma de todo lo ejecutado del BB


        
        console.log(valor, 'valor');

        return valor;

      },

      ProyectosBudgetBBEjecutadoById(programa){
        
        

        let Proyecto = this.ProjectsList.filter(x => x.budget.budgetBreakdown.some(y => y.description == programa));
        console.log(Proyecto.map(x => x.budget.budgetBreakdown.length), 'proyecto.length');
        console.log(Proyecto, 'proyecto');

        

        let valorArreglo = [];
        // var prueba = {BBId='', valor=0};
        for(let x = 0; x < Proyecto.length; x++)
        {
          // if(Proyecto[x].includes('budget'))
          // {
            for (let i = 0; i < Proyecto[x].budget.budgetBreakdown.length; i++)
            {
              for (let a = 0; a < Proyecto[x].budget.budgetBreakdown[i].budgetLines.length; a++)
              {
                for(let n = 0; n < Proyecto[x].budget.budgetBreakdown[i].budgetLines[a].measures.length; n++)
                {
                  if(Proyecto[x].budget.budgetBreakdown[i].budgetLines[a].measures[n].id == 'executed')
                  {
                    this.prueba2.BBId = Proyecto[x].budget.budgetBreakdown[i].id;
                    this.prueba2.valor = Proyecto[x].budget.budgetBreakdown[i].budgetLines[a].measures[n].value.amount;
                    valorArreglo.push(this.prueba2);

                    this.prueba2 ={
                    BBId:'',
                    valor:0
                    };

                    // valor = valor + Proyecto[x].budget.budgetBreakdown[i].budgetLines[a].measures[n].value.amount;
                    
                  }
                }
                
              }
            }
          // }
        }

        console.log(valorArreglo, 'valorArreglo');

        return valorArreglo;

      },

    },    

    created(){
      // this.getProjects();
      // this.getContracts();
      this.ProgramsList = this.$store.getters.ProgramsList;
      this.ProjectsList = this.$store.getters.ProjectsList;
      this.ContractsList = this.$store.getters.Releases;


      console.log('ProgramsList',this.ProgramsList);
      console.log('ProjectsList',this.ProjectsList);
      console.log('ContractsList',this.ContractsList);

      this.GenerarReporte();

    },

    mounted(){
    },

    updated(){
    },


    /*
     * 👾 C O M P U T E D
     * ----------------------------------------------------------------------
     */
    computed : {
    },

    /*
     * 👾 C O M P O N E N T S
     * ----------------------------------------------------------------------
     */
    components : {
      Breadcrumb,
      VerGlosario,
      SocialSharing,
      /// svg
      ContratacionesSvg,
      ProyectoSvg,
      CopiarSvg,
      JsonSvg
    }
  }

</script>