<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Infra NL</title>
    <meta name="description" content="Portal de publicación de información de proyectos de infraestructura del estado de Nuevo León.">

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:image" content="<%= BASE_URL %>img/infra-abierta.png" />
    <meta property="og:description" content="" />
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">
    


    <!-- Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120666640-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120666640-2');
    </script>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue-app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-45473222-20');
</script>


</html>
