<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
.dropbtn {
  /* background-color: #4CAF50 !important; */
  /* color: white !important; */
  
  /* padding: 16px !important; */
  font-size: 16px !important;
  border: none !important;
  cursor: pointer !important;
}

.dropdown {
  position: relative !important;
  display: inline-block !important;
}

.dropdown-content {
  display: none !important;
  position: absolute !important;
  background-color: #f9f9f9 !important;
  min-width: 160px !important;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
  z-index: 1 !important;
  
}

.dropdown-content a {
  color: black !important;
  /* padding: 12px 16px !important; */
  padding: 0px !important;
  text-decoration: none !important;
  display: block !important;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block !important;
}


.buttonBuscar {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button1Buscar {font-size: 10px;}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41 !important;
} */
</style>
<script>
  import BuscadorAvanzado from "./components/BuscadorAvanzado.vue";

  import BuscadorSvg from "./svg/icons/buscador-svg.vue";
  import CloseSvg from "./svg/icons/close-svg.vue";
  import Multiselect from 'vue-multiselect'

  


  export default {
    /*
     * 👾 D A T
     * ----------------------------------------------------------------------
     */
    data(){
      return {
        showSearch : 0,
        menu : false,
        usuario: null,
        servidor : null,
        // value: [{ name: '2021', value: '2021' }],
        // value: [{ value: '2021' }],
        value: [],
      //   options: [
      //   { name: '2021', value: '2021' },
      //   { name: '2020', value: '2020' },
      //   { name: '2019', value: '2019' },
      //   { name: '2018', value: '2018' },
      //   { name: '2017', value: '2017' },
      //   { name: '2016', value: '2016' },
      //   { name: '2012', value: '2012' },
      //   { name: 'Todos', value: 'Todos' },
      // ]
      options: [
        { value: '2021' },
        { value: '2020' },
        { value: '2019' },
        { value: '2018' },
        { value: '2017' },
        { value: '2016' },
        { value: '2013' },
        
      ]
      }
    },

    /*
     * 👾 C O M P O N E N T S
     * ----------------------------------------------------------------------
     */
    components : {
      BuscadorAvanzado,
      BuscadorSvg,
      CloseSvg,
      Multiselect
    },

    created(){
    this.usuario = localStorage.usuario;
    this.servidor = localStorage.servidor;
    // console.log(localStorage.anios, 'aniosAlIniciar');

    // if(localStorage.anios == null || localStorage.anios == '')
    // {
    //   localStorage.setItem('anios',JSON.stringify(this.value))
    //   // localStorage.anios = this.value;
    // }
    this.value = JSON.parse(localStorage.anios)
  },

  // computed:{
  //   usuarioCambiante () {
  //     console.log("cambia Variable ", localStorage.usuario);
  //       if (this.$store.state.usuario != null)
  //       {
  //         this.usuario == this.$store.state.usuario.nombre;
  //         console.log("cambia Variable1 ",this.usuario);
  //       }
  //       else
  //       {
  //         this.usuario == localStorage.usuario;
  //         console.log("cambia Variable2 ",this.usuario);
  //       }
  //       return this.usuario;
  //     },
           
  // },

    //DRios 28/Feb/2021 se crea metodos
    methods:{

      //Se crea metodo de salir de login
      salir(){
          
        this.$store.dispatch("salir");
        location.reload();
      },

      variableguardado(servidor){
        localStorage.setItem('servidor',servidor)  
        location.reload();        
      },

      aniosSeleccionados (anio) {
        // this.value.push(anio);
        localStorage.setItem('anios',JSON.stringify(this.value))
        console.log(this.value, 'anios');
        console.log(localStorage.anios, 'aniosStorage');

      },

      actualizarMethod(){
        location.reload();
      }

    } 
  }
</script>


<!--
  ////////////////////////////////////////////////////////////////////////////
  //
  // DEFINE EL TEMPLATE DEL COMPONENTE DE VUE PRINCIPAL
  //
  ////////////////////////////////////////////////////////////////////////////////
-->
<template>
  <div>
    <header class="ia_header">
      <div class="row">
      <!-- <div class="col-4 pt-3 pb-3"> -->
      <div class="col-3 pt-3 pb-3">
        <h1>
          <!--<a href="/" class="infa_abierta">Infraestructura Abierta</a>-->
          <router-link to="/" class="infa_abierta">Infraestructura Abierta</router-link>
          <b class="ia_separator no-mobile no-tablet"></b>
          <!-- <a href="http://www.nl.gob.mx/" class="nl_logo">Gobierno de Nuevo León</a> -->
          <img class="mr-3" src="http://si.nl.gob.mx/acceso/assets/websi/LogoNL2.svg" height="80" width="auto" />
          <!-- <a href="http://www.nl.gob.mx/" class="nl_logo">Gobierno de Nuevo León</a> -->
        </h1>
      </div>

      <!-- <div class="col-7"> -->
      <div class="col-8">
        <input class="toggle-menu" id="toggle-menu" type="checkbox" v-model="menu" />
               <label class="button-toggle-menu" for="toggle-menu">
                 <span class="burger">
                     <span class="bar">
                            <span class="visuallyhidden"></span>
                     </span>
                  </span>
               </label>
               <label class="overlay"  for="toggle-menu">  </label>
        <nav class="h_nav" for="toggle-menu">
    <!-- los links del router
    <router-link to="/">inicio</router-link>-->
     <b v-on:click="menu = false"><router-link to="/programas">Programas</router-link></b>
     <b v-on:click="menu = false"><router-link to="/proyectos">Proyectos</router-link></b>
     <b v-on:click="menu = false"><router-link to="/contrataciones">Contrataciones</router-link></b>
     <b v-on:click="menu = false"><router-link to="/contratistas">Contratistas</router-link></b>
     <b v-on:click="menu = false"><router-link to="/instituciones">Instituciones</router-link></b>
     <b v-on:click="menu = false"><router-link to="/indicadores">Indicadores</router-link></b>
     
     
     <div class="row">
       <!-- <multiselect v-model="value" :options="options" :multiple="true" :close-on-select="false" selectedLabel="Seleccionado" deselectLabel="Presiona para deseleccionar" 
       :clear-on-select="false" :preserve-search="true" placeholder="Elige los años" 
       label="name" track-by="name" :preselect-first="true" :allowEmpty="false">
        <template slot="selection" slot-scope="{ values, search, isOpen }">
          <span class="multiselect__single" v-if="values.length &amp;&amp;
           !isOpen">{{ values.length }} Opciones Seleccionadas
           </span>
        </template>
      </multiselect> -->
      <div class="col-2">
      </div>

      <div class="col-9">
        <multiselect v-model="value" :close-on-select="false" 
        selectedLabel="Seleccionado" deselectLabel="Presiona para deseleccionar" 
        placeholder="Buscar" label="value" :allowEmpty="false"
        track-by="value" :options="options" :multiple="true" @input="aniosSeleccionados"
        ></multiselect>
      </div>

       <div class="col-1">
         <!-- <p class="text-center"><a @click="actualizarMethod"
         class="ia_btn" style="cursor: pointer;">Buscar</a></p> -->
         <button class="buttonBuscar button1Buscar"  type="submit" @click="actualizarMethod">Buscar</button>
       </div>

       

       <!-- <pre class="language-json"><code>{{ this.value  }}</code></pre> -->
        
     </div>
     

     

      <!-- verifica si existe el usuario  -->
     <div v-if="this.usuario != null " class="dropdown">
     <!-- <div v-if="usuarioCambiante != null || usuarioCambiante != undefined " class="dropdown"> -->
        <button class="dropbtn">{{this.usuario}}</button>
        <div class="dropdown-content">
            <a v-if="this.servidor == 'Produccion'" style="background-color: #6363bf;    margin-right: 0px;
    margin-left: 0px;
    border-left-width: 4px;" @click="variableguardado('Produccion')">Producción</a>
            <a v-else @click="variableguardado('Produccion')">Producción</a>
            <a v-if="this.servidor == 'QA'" style="background-color: #6363bf;    margin-right: 0px;
    margin-left: 0px;
    border-left-width: 4px;" @click="variableguardado('QA')">QA</a>
            <a v-else @click="variableguardado('QA')">QA</a>
            <a @click="salir">Salir</a>
          </div>
     </div>

     <!-- <b v-on:click="menu = false"><router-link to="/Login">Login</router-link></b> -->

     <!-- <b v-if="this.$store.state.usuario != null " v-on:click="menu = false">{{this.$store.state.usuario.nombre}}</b> -->
     
     

        </nav>

      </div>
      <div class="col-1">
        <a href="#" v-on:click.prevent="showSearch = !showSearch" class="ia_svg h_25 w_20 min ia_search_btn">
          <span v-if="!showSearch">
          <buscador-svg/>
          </span>
          <span v-else>
          <close-svg/>
          </span>
        </a>
      </div>
    </div>
    <div v-if="showSearch">
      <buscador-avanzado />
    </div>
  </header>
<div class="ai_beta">
  <p>
  <span>VERSIÓN BETA</span>
</p>
</div>
  <!-- el contenido que se despliega -->
  
  <div class="containerLoader" v-if="!$store.getters.getProjectsReady">
    <div id="Loader"></div>
  </div>
  <router-view v-if="$store.getters.getProjectsReady"/>
    <!-- <div class="containerLoader" v-if="!$store.getters.getProjectsReady">
      <div class="yellow"></div>
      <div class="red"></div>
      <div class="blue"></div>
      <div class="violet"></div>
    </div> -->

    <div id="the-popup"
         v-if="$store.state.popup"
         v-html="$store.getters.getPopupHTML"
         :style="{
          position : 'fixed',
          top : $store.getters.getPopupY + 'px',
          left : $store.getters.getPopupX + 'px'
        }" >
    </div>

    <section class="ia_aliados">
      <div class="container">
        <p class="text-center">Con la participación de</p>
        <div class="row">
          <div class="col">
            <a href="http://inicio.inai.org.mx/" class="inai">INAI</a>
          </div>
          <div class="col">
            <a href="https://www.mexicoevalua.org/" class="mexicoevalua">México Evalúa</a>
          </div>
          <div class="col">
            <a href="https://www.cmicnl.mx/" class="cmic">CMIC Nuevo León</a>
          </div>
          <div class="col">
            <a href="http://www.comovamosnl.org/" class="comovamosnl">Cómo vamos</a>
          </div>
          <div class="col">
            <a href="http://arquitectura.uanl.mx/" class="farq">FARQ</a>
          </div>
          <div class="col">
            <a href="http://www.ctainl.org.mx/quees.php" class="cotai">COTAI</a>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="footer-top">
          <div class="row">
            <div class="col">
            <a href="tel:911">
              <span class="footer-top__title">911</span>
              <span>Emergencias</span>
            </a>
            </div>
            <div class="col">
              <a href="tel:089">
                <span class="footer-top__title">089</span>
                <span>Denuncia anónima</span>
              </a>
            </div>
          <div class="col">
            <a href="tel:070">
              <span class="footer-top__title">070</span>
              <span>Informatel y Locatel</span>
            </a>
          </div>
          <div class="col">
            <a href="tel:073">
              <span class="footer-top__title">073</span>
              <span>Agua y drenaje</span>
            </a>
          </div>
          <div class="col">
            <a href="http://aire.nl.gob.mx/" title="Ir a portal de Monitoreo ambiental" target="_blank">
              <span class="footer-top__title"><b class="i_seedling"></b></span>
              <span>Monitoreo ambiental</span>
            </a>
          </div>
            </div><!--row-->
          </div><!--footer-top-->

          <div class="row">
            <div class="col-sm-6">
              <!-- <h3 class="nl_logofooter">Nuevo León, siempre ascendiendo</h3> -->
              <img style="max-height:130px" src="http://si.nl.gob.mx/acceso/assets/websi/escudo-nl2.svg">
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-7">
                  <div class="footer__separator-block">
                      <ul class="menu nav">
                        <li class="first leaf"><a href="http://nl.gob.mx/gobierno" title="Gobierno" class="btn_footer">Gobierno</a></li>
                        <li class="leaf"><a href="http://nl.gob.mx/tramites-y-servicios" title="Trámites y servicios" class="btn_footer">Trámites y servicios</a></li>
                        <li class="leaf"><a href="http://nl.gob.mx/actualidad" title="Actualidad" class="btn_footer">Actualidad</a></li>
                        <li class="last leaf"><a href="http://nl.gob.mx/transparencia" title="Transparencia" class="btn_footer">Transparencia</a></li>
                      </ul>

                    </div>
                </div>
                <div class="col-5">
                  <div class="social-media">
                    <a class="sm fb" target="_blank" href="https://www.facebook.com/gobiernonuevoleon/">Facebook></a>
                    <a class="sm tw" target="_blank" href="https://twitter.com/nuevoleon">Twitter</a>
                    <a class="sm ig" target="_blank" href="https://www.instagram.com/nuevoleonmx/">Instagram</a>
                    <a class="sm yt" target="_blank" href="https://www.youtube.com/user/GobiernoNuevoLeon">Youtube</a>
                    <a class="sm tl" target="_blank" href="https://t.me/gobnl">Telegram</a>
                  </div><!--social-media-->
                  <a class="btn_footer" href="http://nl.gob.mx/campanas/codigo-de-etica-del-gobierno-del-estado-de-nuevo-leon" title="">Código de Ética</a>
                </div><!--col-6-->
              </div><!--row-->

            </div><!--col-6-->
          </div><!--row-->

          <div class="row">
            <div class="col-12">
              <ul class="menu nav_bottom row">
                <li class="col-6">
                  <a href="https://nl.gob.mx/sobre-tratamiento-datos-personales" title="">Sobre el tratamiento de los datos personales</a>
                </li>
                <li class="col-3">
                  <a href="https://beta.nl.gob.mx/dinos-tu-opinion-sobre-este-sitio" title="">Dinos tu opinión</a>
                </li>
                <li class="col-3">
                  <a href="https://beta.nl.gob.mx/contactanos" title="">Contáctanos</a></li>
              </ul>
            </div>
          </div>
      </div>
    </footer>
  </div>
</template>



<style>
 div.containerLoader {
	display: flex;
	justify-content: center;
	align-items: center;
  margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ffffff;
}
/* Center the loader */
#Loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
/*
:root {
	--yellow: #feb60a;
	--red: #ff0062;
	--blue: #00dbf9;
	--violet: #da00f7;
}

 div.containerLoader {
	display: flex;
	justify-content: center;
	align-items: center;
  margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ffffff;
  background-image: linear-gradient(180deg, rgba(0,0,0,0.15) 0%, rgba(0,153,212,0) calc(15% + 100px), rgba(0,99,138,0) calc(85% + 100px), rgba(0,0,0,0.15) 100%);

}
div.containerLoader > div {
	width: 3vw;
	height: 3vw;
	border-radius: 100%;
	margin: 2vw;
	background-image: linear-gradient(145deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 100%);
	animation: bounce 1.5s 0.5s linear infinite;
}
.yellow {
	background-color: var(--yellow);
}

.red {
	background-color: var(--red);
	animation-delay: 0.1s;
}

.blue {
	background-color: var(--blue);
	animation-delay: 0.2s;
}

.violet {
	background-color: var(--violet);
	animation-delay: 0.3s;
}

@keyframes bounce {
	0%, 50%, 100% {
		transform: scale(1);
		filter: blur(0px);
	}
	25% {
		transform: scale(0.6);
		filter: blur(1px);
	}
	75% {
		filter: blur(2px);
		transform: scale(1.4);
	}
} */
</style>
